*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --nomes-principal-color: rgb(255, 255, 255, .8);
  --nomes-secundario-color: #6E767D;
}

body{
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.content{
  display: flex;
}

/* -------------------------------- HEADER -------------------------------- */

header{
  display: flex;
  flex-direction: column;
  width: 18%;
  border-right: .5px solid rgb(99, 106, 112, .3);
  margin-left: 5%;
  position: fixed;
}

.icon-twitter{
  display: flex;
}

.icon-twitter img{
  width: 30px;
  height: 30px;
  margin: 12px 0 15px 0;
}

.content header nav{
  display: flex;
  flex-direction: column;
}

header nav a{
  display: flex;
  text-decoration: none;
  color: var(--nomes-principal-color);
  margin-bottom: 8px;
  font-size: 19px;
}

header nav a:hover{
  border-radius: 25px;
  width: auto;
  color: rgb(224, 36, 94);
  /* background: rgb(224, 36, 94, .1);
  padding: 5px; */
}

.icon-nav img{
  width: 23px;
  height: 23px;
  margin: 10px 17px 10px 0;
}

.name-nav{
  padding-top: 9px;
}

.button-header{
  border: none;
  width: 215px;
  height: 50px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background: rgb(224, 36, 94);
  cursor: pointer;
  transition: .5s background;
  margin-top: 5px;
  font-size: 15px;
}

button:hover{
  background-color: rgb(196, 33, 84);
}

.my-profile{
  display: flex;
  margin: 45px 0 20px 0;
  cursor: pointer;
}

.photo-profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.photo-profile img{
  width: 100%;
  height: 100%;
}

.infos-profile{
  display: flex;
  flex-direction: column;
  color: var(--nomes-principal-color);
  padding-left: 10px;
}

.username{
  color: var(--nomes-secundario-color);
}

/* ------------------------------------------------------------------------ */

/* --------------------------------- MAIN --------------------------------- */

main{
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(99, 106, 112, .3);
  width: 45%;
  height: 80%;
  margin-left: 23%;
}

.first-section{
  display: flex;
  border-bottom: 1px solid rgb(99, 106, 112, .3);
  justify-content: space-between;
  align-items: center;
  padding: 3px 2px;
}

.first-section h1{
  color: rgb(255, 255, 255, .8);
  font-size: 19px;
  font-weight: 800;
  padding: 10px 0 10px 15px;
  cursor: pointer;
}

.first-section-icon img{
  width: 26px;
  height: 26px;
  margin-right: 8px;
}


.my-message{
  display: flex;
  /* flex-direction: column; */
  border-bottom: 10px solid rgb(99, 106, 112, .3);
  padding: 10px 15px 0 15px;
}

.photo-my-profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.photo-my-profile img{
  width: 100%;
  height: 100%;
}

.conteudo-my-message{
  display: flex;
  flex-direction: column;
}

.my-message-text{
  display: flex;
  flex-direction: row;
}

.my-message-text input{
  border: none;
  background: black;
  outline: 0;
  padding: 10px;
  margin: 5px 10px 0 5px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  color: white;
}
.my-message-icons-button{
  display: flex;
  margin: 10px 0 0 15px;
  justify-content: space-between;
}

.my-message-icons-button ul{
  display: flex;
  margin-top: 10px;
}

.my-message-icons-button ul li{
  padding-right: 18px;
  cursor: pointer;
}

.my-message-icons img{
  width: 20px;
  height: 20px;
}

.button-padrao{
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background: rgb(224, 36, 94);
  cursor: pointer;
  transition: .5s background;
  font-size: 15px;
  margin-bottom: 10px;
}

/* --------------------------------- SECTION TWEETS --------------------------------- */

.tweets-publics{
  display: flex;
  padding: 10px 15px 0 15px;
  border-bottom: 1px solid rgb(99, 106, 112, .3);
}

.tweets-publics-photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.tweets-publics-photo img{
  width: 100%;
  height: 100%;
}

.tweets-conteudo {
 padding-left: 10px;
 display: flex;
 flex-direction: column;
 width: calc(100% - 50px);
}

.infos-person-principal-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infos-person{
  display: flex;
  align-content: space-between;
}

.name{
  color: var(--nomes-principal-color);
  margin-right: 5px;
  cursor: pointer;
}

.infos-person .name:hover{
  text-decoration: underline;
  color: var(--nomes-principal-color);
}

.username{ 
  color: var(--nomes-secundario-color);
  cursor: pointer;
  display: flex;
  margin-right: 5px;
}

.hour{ 
  color: var(--nomes-secundario-color);
  cursor: pointer;
}

.hour:hover{ 
  text-decoration: underline;
  color: var(--nomes-secundario-color);
}

.infos-person-principal-icon img{
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.tweet-conteudo-secundario{
  margin: 3px 0 10px 0 ;
}

/* .tweet-conteudo-secundario*/ p{ 
  color: rgb(255, 255, 255, .8);
}

.photo-tweet{
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgb(99, 106, 112, .3);
}

.tweets-publics-icon{
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 0;
  max-width: 425px;
}

.tweets-publics-icon-name{
  display: flex;
  align-items: center;
}

.tweets-publics-icon-name img{
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.tweets-icon{
  color: var(--nomes-secundario-color);
  margin-left: 10px;
  font-size: 13px;
  cursor: pointer;
}

.tweet-conteudo-rt{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(99, 106, 112, .3);
  border-radius: 15px;
  padding: 10px;
}

.tweet-conteudo-rt-infos{
  display: flex;
  margin-bottom: 3px;
}

.tweet-conteudo-rt-infos figure{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.tweet-conteudo-rt-infos figure .photo-rt{
  width: 100%;
  height: 100%;
}

.tweets-conteudo-rt p{ 
  color: rgb(255, 255, 255, .8);
}

.tweet-conteudo-rt-infos .name{
  color: var(--nomes-principal-color);
  cursor: pointer;
  margin: 0 5px;
}

/* --------------------------------- SECTION TRENDING TOPICS --------------------------------- */

.trending-topics{
  position: fixed;
  right: 0;
  width: 30%;
  margin: 6px 0 5px 0;
}

.trending-topics-search{
  background-color: aqua;
  width: 350px;
  border-radius: 25px;
  height: 42px;
  background-color: rgb(21, 24, 28)
}

.trending-topics-search input{
  width: 270px;
  height: 40px;
  margin-left: 50px;
  outline: 0;
  border: none;
  font-size: 15px;
  color: white;
  background-color: rgb(21, 24, 28)
}

.trending-topics-hashtag{
  width: 350px;
  margin-top: 15px;
  background-color: rgb(21, 24, 28);
  padding: 10px 0 5px 0;
  border-radius: 15px;
}

.trending-topics-assuntos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(99, 106, 112, .3);
  padding: 0 15px 10px 15px;
}

.trending-topics-assuntos h1{
  color: rgb(255, 255, 255, .8);
  font-size: 19px;
  font-weight: 800;
  cursor: pointer;
}

.trending-topics-assuntos img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.trending-topics-assuntos-hashtag{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(99, 106, 112, .3);
  padding: 10px 15px 10px 15px;
}

.tpah{
  color: var(--nomes-secundario-color);
  cursor: pointer;
  display: flex;
  margin-right: 5px;
  font-size: 13px;
  margin-bottom: 2px;
}

.trending-topics-hashtag-footer{
  padding: 13px 15px 13px 15px;
  color: rgb(224, 36, 94);
}